body {
    background-image: url('../Pictures/2.jpeg');
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:aliceblue;
}

h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
