body {
    background-image: url("../Pictures/qabus2.jpg");
}

h1, h2 {
    color:brown;
}

iframe {
    width: 400px;
    height: 200px;
  }
  
  @media screen {
  
    iframe {
      width: 256px;
      height: 128px;
    }
  }
