body {
    background-image: url("../Pictures/qabus2.jpg");
    background-attachment: scroll;
}

h1, h2 {
    color:brown;
}

iframe {
    width: 512px;
    height: 256px;
  }
  
@media screen and (max-width: 767px) {

  iframe {
    width: 256px;
    height: 128px;
  }

  body {
    background-attachment: fixed;
}

}
