body {
    font-family: Arial, sans-serif;
    padding-top: 60px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
}

h1 {
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}
